.logoContainer {
	padding: 0 5%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.alanLogo {
	height: 27vmin;
	border-radius: 15%;
	padding: 0 5%;
	margin: 3% 0;
}
